.review_user_details .user_gravatar {
	vertical-align: bottom;
}

.review_user_details .user_gravatar img {
	float: left;
	margin-right: 10px;
}

.review_user_details {
	display: block;
	position: relative;
}

.reviews_container {

	width: 100%;
	/*
	padding: 10px;
	border: 1px solid #BEBCBC;
	*/
	font-size: 12px;
}

.review_wrapper {
	width: 100%;
	margin: 0 0 10px 0;
	position: relative;
}

.review_wrapper .user_rate_time {
	position: absolute;
	top: -10px;
	right: 0px;
}

.review_rating {
	border: 1px solid #CCC;
	padding: 10px;
}

.review_wrapper p.cbrating_user_name {
	margin-bottom: 10px;
	width: 50%;
}

.review_wrapper p.cbrating_user_name a {
	font-weight: bold;
	display: block;
}

.review_rating:hover {
	background: #F7F7F7;
}

/*
.review_rating .user_rate_time {
    float: right;
    position: absolute;
    right: 0;
    top: 0
}
*/
.review_rating .criteria-wrapper {
	height: auto;
	padding: 3px;
	margin: 0px;
	font-size: inherit;
	color: inherit;
}

.review_rating .question-wrapper {
	display: block;
	padding: 3px;
}

.review_rating .review_user_rating_comment {
	display: block;
	padding: 3px;
}

.review_rating .review_user_rating_comment .comment {
	display: inline;
	margin-left: 10px;
}

.cbratingload_more_button {
	background-color: #EEE;
	color: #333333;

	text-align: center;
	padding: 5px 0;
	cursor: pointer;
    margin: 10px 0;
}

.cbrating_waiting_icon {

}

.all-criteria-wrapper {
	margin-top: 15px;
}

.disabled_cbrp_button {
	color: #CCCCCC !important;
}